* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  background: url("images/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

nav {
  height: 50px;
  width: 100%;
  padding: 20px 0;
}
.container {
  width: 1200px;
  max-width: 85%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0px 6px;
}
nav ul li a {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
nav ul li a:hover,
a.active {
  background-color: #3352f2;
  border-radius: 5px;
}
.main-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 70px;
  align-items: center;
}
.booking-form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 5px;
  float: left;
}
.booking-form h3 {
  margin: 10px 0px;
}
.booking-form .input-group {
  margin: 10px 0;
}
.f-class,
.economy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inp-width {
  min-width: 340px;
}
.plus-minus-btn {
  color: #3352f2;
  font-size: 22px;
  padding: 2px;
  margin-top: 25px;
  word-spacing: 20px;
}
.fas {
  cursor: pointer;
}
.booking-form .calculations {
  margin: 10px 0;
}
.booking-form .calculations p {
  font-weight: 500;
  margin-bottom: 10px;
}
.booking-form input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #f3f5ff;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 20px;
}
.booking-form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.booking-content {
  color: #fff;
  width: 80%;
}
.booking-content h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  margin-bottom: 25px;
}

.book-now-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  background-color: #3352f2;
  cursor: pointer;
  border: 2px solid #3352f2;
  transition: all 0.3s ease;
  outline: none;
}
.book-now-btn:hover {
  background: transparent;
  color: #3352f2;
}
.amount {
  display: flex;
  justify-content: space-between;
}

/* modal css */
.btn-container {
  background: #f1f1f1;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 10px 10px;
}
.cancel-btn,
.confirm-btn {
  padding: 12px 25px;
  background: #fff;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s linear;
}
.confirm-btn {
  border: 2px solid #3352f2;
  color: #3352f2;
}
.confirm-btn:hover {
  background: #3352f2;
  color: #fff;
}
.cancel-btn {
  border: 2px solid red;
  color: red;
}
.cancel-btn:hover {
  background: red;
  color: #fff;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 60px;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}
.confirm {
  padding: 40px 0;
  text-align: center;
}
.confirm h3 {
  margin: 18px 0;
}
/* Close Button */
.close-btn {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover {
  color: red;
  cursor: pointer;
}

/* zoom animation */
.animate {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
